#game-title {
    width:100%;
    text-align: center;
}
.game-area {
    display: flex;
    height: 490px;
    width: 630px;
    border-radius: 15px;
    background-color : blue;
}
.flex-container {
display: flex;
  align-items: center;
  justify-content: center;   
}
.game-box {margin-top: 10px;
    margin-left: 10px;
    margin-right:10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color:white;}

.game-column {
    background-color : blue;
    border-radius: 15px;
}
#winner-text {font-size: xx-large;
    width: 100%;
                text-align: center;
}

#p1-turn {height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: red;
    }

#p2-turn {height: 70px;
        width: 70px;
        border-radius: 50%;
        }